<table class="table">
    <tr>
        <td>Email</td>
        <td name="email" class="profile-value">{{email}}</td>
    </tr>
    
    <tr>
        <td>Username</td>
        <td name="login" class="profile-value">{{username}}</td>
    </tr>
    <tr>
        <td>First name</td>
        <td name="first_name" class="profile-value">{{firstname}}</td>
    </tr>
    <tr>
        <td>Last name</td>
        <td name="last_name" class="profile-value">{{lastname}}</td>
    </tr>
    <tr>
        <td>Chat name</td>
        <td name="display_name" class="profile-value">{{chatname}}</td>
    </tr>
    <tr>
        <td>Phone</td>
        <td name="phone" class="profile-value">{{phone}}</td>
    </tr>
    
    {{!-- <tr><td><span>Edit profile</span></td></tr>
    <tr><td><span>Change password</span></td></tr>
    <tr><td><span >Log out</span></td></tr> --}}
</table>